[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
boto3 = "*"
pyarrow = "*"
pyyaml = "*"

[dev-packages]
awscli = "*"
jupyter = "*"
pylint = "*"
moto = "*"
coverage = "*"
memory-profiler = "*"

[requires]
python_version = "3.8"
python_full_version = "3.8.0"
